<div class="cart-container">

  <button *ngIf="cartItems.length > 0" class="clear-cart-button" (click)="clearCart()">Vaciar carrito</button>

  <div *ngFor="let item of cartItems" class="cart-item">
    <button class="remove-button" (click)="removeProduct(item.product.id)">🗑️</button>
    <div class="item-info">
      <div class="item-name">{{ item.product.name }}</div>
      <div class="item-quantity">Cantidad: {{ item.quantity }}</div>
    </div>
    <div class="item-total">{{ (item.product.price * item.quantity) | currency:'ARS' }}</div>
  </div>

  <div class="cart-summary">
    <div class="summary-label">Total:</div>
    <div class="summary-amount">{{ getTotal() | currency:'ARS' }}</div>
  </div>

  <form class="customer-form">
    <input type="text" [(ngModel)]="customerData.dni" name="dni" placeholder="DNI" (ngModelChange)="saveCustomerData()">
    <input type="text" [(ngModel)]="customerData.name" name="name" placeholder="Nombre y Apellido" (ngModelChange)="saveCustomerData()">
    <input type="text" [(ngModel)]="customerData.address" name="address" placeholder="Dirección" (ngModelChange)="saveCustomerData()">
    <input type="text" [(ngModel)]="customerData.phone" name="phone" placeholder="Teléfono" (ngModelChange)="saveCustomerData()">
  </form>

  <button class="whatsapp-button"
        (click)="sendOrder()"
        [disabled]="!customerDataIsComplete() || isSending || cartItems.length == 0">

  <ng-container *ngIf="!isSending; else loading">
    <img src="assets/whatsapp.svg" alt="WhatsApp" class="whatsapp-icon">
    Enviar pedido por WhatsApp
  </ng-container>

  <ng-template #loading>
    <div class="loading-spinner"></div>
    Enviando...
  </ng-template>

</button>
</div>
