<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      WildTech
    </div>
    <ul class="navbar-links">
      <li>
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Productos</a>
      </li>
      <li>
        <a routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page">Carrito</a>
      </li>
    </ul>
    <div class="navbar-social">
      <a href="https://www.instagram.com/wildtech.rosario/" target="_blank" aria-label="Instagram">
        <img src="assets/instagram.svg" alt="Instagram" class="social-icon">
      </a>
    </div>
  </div>
</nav>
