<!-- SPINNER -->
<div *ngIf="products.length === 0" class="spinner-wrapper">
  <div class="spinner"></div>
  <p>Cargando productos...</p>
</div>

<div class="category-filter" *ngIf="products.length !== 0">
  <h2 class="filter-title">Filtrar por categoría</h2>
  <div class="filter-buttons">
    <button
      *ngFor="let cat of categories"
      (click)="selectedCategory = cat"
      [class.active]="selectedCategory === cat"
    >
      {{ cat }}
    </button>
  </div>
</div>

<!-- GRILLA -->
<div class="product-grid" @listAnimation>
  <app-product
    *ngFor="let product of filteredProducts()"
    [product]="product"
    (viewDetails)="openProductModal(product)">
  </app-product>
</div>

<!-- MODAL -->
<app-product-modal
  [product]="selectedProduct"
  *ngIf="selectedProduct !== null"
  (close)="closeProductModal()">
</app-product-modal>
