<div class="product-card" @fadeIn>
  <img
    class="product-image"
    [src]="generateImageUrl(product.id)"
    [alt]="product.name"
    (error)="onImageError($event)"
  />

  <div class="product-content">
    <div class="product-header">
      <h2 class="product-name">{{ product.name }}</h2>
      <button class="view-button" (click)="viewDetails.emit()">+</button>
    </div>
    <p class="product-price">{{ productGetPrice() }}</p>
    <p class="product-dues" *ngIf="productHasDues()">
      ¡Financiación disponible!
    </p>

    <div
      class="product-stock"
      [ngClass]="{ 'out-of-stock': product.stock == 0 }"
    >
      <span class="stock-label">Stock:</span>
      <span class="stock-value">{{
        product.stock === 0 ? "Sin stock" : product.stock
      }}</span>
    </div>
  </div>

  <div class="product-actions">
    <ng-container *ngIf="getQuantity() === 0; else quantityControls">
      <ng-container *ngIf="productGetPrice() !== 'Consultar precio'; else consultPrice">
        <button
          class="add-to-cart-button"
          (click)="addOne()"
          [disabled]="product.stock === 0"
        >
          Agregar al carrito
        </button>
      </ng-container>

      <ng-template #consultPrice>
        <button
          class="add-to-cart-button"
          (click)="consultProductOnWhatsApp()"
        >
          Consultar por WhatsApp
        </button>
      </ng-template>
    </ng-container>

    <ng-template #quantityControls>
      <div class="quantity-controls">
        <button class="quantity-button" (click)="removeOne()">–</button>
        <span class="quantity-display">{{ getQuantity() }}</span>
        <button
          class="quantity-button"
          (click)="addOne()"
          [disabled]="getQuantity() >= product.stock"
        >
          +
        </button>
      </div>
    </ng-template>
  </div>
</div>
